<div class="submit-form">
  <h1 class="form-title text-center">
    <strong>Gestión de Cursos - Registrar Nuevo Alumno</strong>
  </h1>

  <div class="form-content">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title" class="form-label"><strong>Nombre del Alumno</strong></label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="alumno.nombre"
          name="title"
          placeholder="Ingrese el nombre del alumno a registrar"
          #nombreInput="ngModel"
        />
        <div *ngIf="!alumno.nombre && nombreInput.touched" class="error-message">
          El nombre del alumno es un campo obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label for="duration" class="form-label"><strong>ID</strong></label>
        <input
          type="number"
          class="form-control"
          id="id"
          required
          [(ngModel)]="alumno.id"
          name="id"
          placeholder="Ingrese el ID del alumno"
          #idInput="ngModel"
        />
        <div *ngIf="!alumno.id && idInput.touched" class="error-message">
          El ID del alumno es un campo obligatorio.
        </div>
      </div>

      <div class="form-group">
        <label for="content">Fecha de Nacimiento del Alumno</label>
        <input
          type="date"
          class="form-control"
          id="fechaNacimiento"
          required
          [(ngModel)]="alumno.fechaNacimiento"
          name="fechaNacimiento"
          placeholder="dd/mm/yyyy"
          pattern="\d{2}/\d{2}/\d{4}"
          #fechaInput="ngModel"
        />
        <div *ngIf="!alumno.fechaNacimiento" class="text-danger">La fecha de inicio es un campo obligatorio.</div>
      </div>

      <button [disabled]="!isFormValid()" (click)="saveAlumno()" class="btn btn-success">Crear Alumno</button>

    </div>

    <div *ngIf="submitted">
      <h4>El alumno fue ingresado exitosamente.</h4>
      <button class="btn btn-success" (click)="newAlumno()">Agregar Nuevo Alumno</button>
    </div>
  </div>
</div>
