<div *ngIf="viewMode; else editable" class="container special-container">
  <div *ngIf="currentElement.id">
    <h4>Detalles del Curso</h4>
    <div>
      <label><strong>Nombre:</strong></label> {{ currentElement.nombre }}
    </div>
    <div>
      <label><strong>Fecha de inicio:</strong></label>
      {{ currentElement.fechaInicio | date: 'dd/MM/yyyy' }}
    </div>
    <div>
	
	<label><strong>Tema:</strong></label>
      {{ currentElement.tema == null ? "-" : currentElement.tema.nombre }}
    </div>

    <div *ngIf="currentElement.tema" class="course-theme-id">
      {{ asignarTemaId(currentElement.tema.id) }}
    </div>

    <div>
      <label><strong>Materiales:</strong></label>
      <ul>
        <li *ngFor="let materialT of materialesTema" class="material-list-item">
          <input type="radio" [value]="materialT.id" disabled>
          {{ materialT.titulo}}
        </li>
      </ul>
    </div>

      <div>
      <label><strong>Docente:</strong></label> 
       {{ currentElement.idDocente === 1 ? 'Claudia Chavez' : currentElement.idDocente === 2 ? 'Pedro Benedetto' : currentElement.idDocente === 3 ? 'Tomas Marcone' : currentElement.idDocente === 4 ? 'Juan Mas' : 'Desconocido'}}
    </div>
	  
		<a class="btn btn-sm custom-edit-button" routerLink="/cursos/{{ currentElement.id }}">
	  Editar Curso
	</a>
	
  </div>

  <div *ngIf="!currentElement">
    <br />
    <p>Please click on a Post...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentElement.id" class="container edit-form">
    <div class="title-container">
      <img src="/assets/update.png" alt="Icono" class="title-icon">
      <h4 class="title-text">Gestión de Cursos - Editar un Curso</h4>
    </div>
    <form>
      <div class="form-group">
        <label for="title">Nombre del curso</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          placeholder="Ingrese un nombre"
          name="title"
          [(ngModel)]="currentElement.nombre" 
          #nombreInput="ngModel"
        />
        <div *ngIf="nombreInput.invalid && nombreInput.touched" class="error-message">
          El nombre es un campo obligatorio.
        </div>
      </div>
      
      <div class="form-group">
        <label for="description">Fecha de inicio:</label>
        <input
          type="date"
          class="form-control"
          id="description"
          [(ngModel)]="currentElement.fechaInicio"
          name="description"
        />
      </div>
      
      <div class="form-group">
        <label><strong>Tema:</strong></label>
        {{ currentElement.tema == null ? "-" : currentElement.tema.nombre }}
      </div>
    </form>
    
 

  <div *ngIf="currentElement.tema" class="course-theme-id">
  {{ asignarTemaId(currentElement.tema.id) }}
</div>

<div *ngIf="materialesTema && materialesTema.length > 0">
  <label><strong>Materiales:</strong></label>
  <ul>
    <li *ngFor="let materialT of materialesTema" class="material-list-item">
      <input type="radio" [value]="materialT.id" disabled>
      {{ materialT.titulo }}
    </li>
  </ul>
</div>

      
      <div>
      <label><strong>Docente:</strong></label> 
      {{ currentElement.idDocente === 1 ? 'Claudia Chavez' : currentElement.idDocente === 2 ? 'Pedro Benedetto' : currentElement.idDocente === 3 ? 'Tomas Marcone' : currentElement.idDocente === 4 ? 'Juan Mas' : 'Desconocido'}}
        </div>
   
    <button type="button" class="btn btn-success" (click)="updateElement()" >Actualizar Curso</button>

    <button type="button" class="btn btn-success" (click)="cancelUpdate()" > Volver Atrás </button>

    <p class="success-message">{{ message }}</p>
  </div>
  <div *ngIf="!currentElement.id">
    <br />
    <p>Elemento no encontrado...</p>
  </div>
  
	    <!-- Alerta de éxito -->
	<div *ngIf="updateSuccessMessageVisible" class="alert alert-success d-flex align-items-center" role="alert" style="width: 50%; margin: 10px auto; padding: 10px; border-radius: 15px; box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);">
	  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:" style="width: 30px; height: 30px;"><use xlink:href="#check-circle-fill"/></svg>
	  <div style="font-size: 20px;">
	    El curso fue actualizado correctamente.
	  </div>
	</div>
  
</ng-template>
