@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet');


.submit-form .form-content {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

.container {
  width: 60%; 
  margin: 20px auto; 
  padding: 20px;
  border: 2px solid #000000; 
  border-radius: 10px; 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); 
}

.material-list-item {
  list-style-type: none;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  font-size: 16px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.text-danger {
  color: red;
}

.error-input {
  border-color: red;
}

h4 {
  font-weight: bold;
  text-align: center;
}

.btn-success {
  padding: 10px 20px; 
  background-color: #620096;
  border: 1.5px solid #000000; 
  border-radius: 18px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
  display: block; 
  margin: 0 auto; 
  width: 50%;
}

.form-title {
  text-align: center; 
  font-weight: bold; 
}

.btn-danger {
  padding: 10px 20px; 
  background-color: #ff0000; 
  border: 1.5px solid #000000; 
  border-radius: 18px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
  display: block; 
  margin: 0 auto; 
  width: 50%;
}

.btn-success, .btn-danger {
  margin-top: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.special-container {
  border: none;
  box-shadow: none;
}

.submit-form {
  max-width: 500px; 
  height: auto; 
  margin: 0 auto;
  border: 3px solid #000;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.custom-edit-button {
  background-color: #620096;
  color: #fff; 
  font-size: 15px; 
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border: 0.5px solid #000;
}

.title-container {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center;
}

.title-icon {
  height: 2em; /* Ajusta este valor para cambiar el tamaño del logo */
  margin-right: 0.5em;
}



