<div *ngIf="viewMode; else editable">
  <div *ngIf="currentElement.id">
    <h4>Instituto educativo - Curso</h4>
    <div>
      <label><strong>Nombre:</strong></label> {{ currentElement.nombre }}
    </div>
    <div>
      <label><strong>Id:</strong></label> {{ currentElement.id }}
    </div>
    <div>
      <label><strong>Fecha inicio:</strong></label>
      {{ currentElement.fechaInicio }}
    </div>
    <div>
      <label><strong>Tema:</strong></label>
      {{ currentElement.tema == null ? "-": currentElement.tema.nombre + " (" + currentElement.tema.id + ")" }}
    </div>    
    <a
      class="badge badge-warning"
      routerLink="/cursos/{{ currentElement.id }}"
    >
      Edit
    </a>
  </div>
  <div *ngIf="!currentElement">
    <br />
    <p>Please click on a Post...</p>
  </div>
</div>
<ng-template #editable>
  <div *ngIf="currentElement.id" class="edit-form">
    <h4>Instituto educativo - Curso</h4>
    <form>
      <div class="form-group">
        <label for="title">Nombre del curso</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentElement.nombre"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Fecha inicio:</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentElement.fechaInicio"
          name="description"
        />
      </div>
      <div class="form-group">
        <label><strong>Docente id:</strong></label>
        {{ currentElement.idDocente == 0 ? "" : currentElement.idDocente }}
      </div>
    </form>
    <button class="badge badge-danger mr-2" (click)="deleteElement()">
      Delete
    </button>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateElement()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <div *ngIf="!currentElement.id">
    <br />
    <p>Elemento no encontrado...</p>
  </div>
</ng-template>

