<div class="list row main-container">
 <!-- <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Buscar por título" [(ngModel)]="title" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">Buscar</button>
      </div>
    </div>
  </div>-->

  <div class="col-md-6">
    <div class="title-container">
      <img src="/assets/list.png" alt="Logo" class="title-logo">
      <h4 class="list-title">Listado de Cursos</h4>
    </div>

    <div class="row">
      <div class="col-sm-4 mb-3" *ngFor="let curso of cursos; let i = index">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ curso.nombre }}</h5>
            <p class="card-text" *ngIf="curso.tema">{{ curso.tema.nombre }}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary" (click)="showDetails(curso, i); $event.stopPropagation();">Detalles</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 curso-details-container">
    <app-curso-details [viewMode]="true" [currentElement]="currentElement"></app-curso-details>
  </div>
</div>
