.container {
  margin-top: 50px; /* Espacio desde la parte superior */
}

.alumnos-list {
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-weight: bold;
  text-align: center; 
  padding: 20px;
  border: 1px solid #000;
}

.alumnos-list ul {
  list-style-type: none;
  padding: 0;
}

.alumnos-list li {
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px; 
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  border: 1px solid #000;
}

.alumnos-list li:focus {
  outline: none; 
}

.alumnos-list li.active-item {
  background-color: #620096; 
  color: #fff; 
}

.alumnos-list li:hover {
  background-color: #620096; 
  color: #fff; 
}

.alumnos-list p {
  font-weight: normal; 
  font-style: italic; 
}

.alumno-details-container {
  margin-top: 20px;
}


.alumno-details, .editar-alumno {
  width: 90%; 
  margin: 20px auto; 
  background-color: #f9f9f9;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.alumno-details p {
  margin: 5px 0;
}

.no-selection {
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.no-selection p {
  margin: 5px 0;
}

.alumnos-list li.active {
  background-color: #620096;
}

.alumno-details .titulo {
  text-align: center;
  font-weight: bold; 
}

.alumno-details .detalle {
  text-align: left; 
}

.alumno-details .detalle span {
  font-weight: normal;
}

.icono {
  width: 20px; 
  height: 20px; 
  margin-right: 10px; 
}

.btn-eliminar-alumno {
  border-radius: 15px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);  
  border: 1px solid #000;
  width: 60%;
}

.btn-editar-alumno{
  border-radius: 15px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);  
  border: 1px solid #000;
  background-color: #620096;
  width: 60%;
  margin-right: 10px;
}
.btn-editar-alumno, .btn-eliminar-alumno {
  padding: 5px 10px;
}

.botones-accion {
  display: flex;
  justify-content: space-between;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}








