<div class="submit-form">
  <h1 class="form-title">
  <img src="/assets/logoedit.png" alt="Icono" style="height: 1em; vertical-align: middle;">
  Gestión de Cursos - Crear Nuevo Curso
	</h1>

  <div class="form-content">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Nombre del Curso</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="curso.nombre"
          name="title"
          placeholder="Ingrese el nombre del curso"
          #nombreInput="ngModel"
        />
        <div *ngIf="nombreInput.invalid && nombreInput.touched" class="error-message">
          El nombre es un campo obligatorio.
        </div>
        
      </div>

      <div class="form-group">
        <label for="content">Fecha de Inicio del Curso</label>
        <input
          [class.error-input]="dateError"
          type="date"
          class="form-control"
          id="fechaInicio"
          required
          [(ngModel)]="curso.fechaInicio"
          name="fechaInicio"
          placeholder="dd/mm/yyyy"
          pattern="\d{2}/\d{2}/\d{4}"
          #fechaInput="ngModel"
        />
        <div *ngIf="!curso.fechaInicio" class="text-danger">La fecha de inicio es un campo obligatorio.</div>
      </div>
      
      <div class="form-group">
		  <label for="docente">Docente Asignado</label>
		  <select class="form-control" id="docente" required [(ngModel)]="curso.idDocente" #docenteSelect="ngModel">
		    <option value="0">Seleccione un docente</option>
		    <option value="1">Claudia Chavez</option>
		    <option value="2">Pedro Benedetto</option>
		    <option value="3">Tomas Marcone</option>
		    <option value="4">Juan Mas</option> 
		  </select>
		  <div *ngIf="curso.idDocente === 0 && docenteSelect.touched" class="text-danger">Debe seleccionar un docente.</div>
	  </div>

      <div class="form-group">
	  <label for="tema">Tema</label>
		  <select class="form-control" [(ngModel)]="selectedTemaId" #temaSelect="ngModel">
		    <option value="0">Selecciona un tema</option>
		    <option *ngFor="let tema of temas" [value]="tema.id">{{ tema.nombre }}</option>
		  </select>
	  <div *ngIf="selectedTemaId === 0 && temaSelect.touched" class="text-danger">Debe seleccionar un tema.</div>
	   </div>

      <div class="form-group" *ngIf="selectedTemaId">
        <label for="material">Materiales del tema</label>
        <ul>
          <li *ngFor="let materialT of materialesTema">
            <input type="radio" [value]="materialT.id" [(ngModel)]="selectedMaterialId" disabled>
            {{ materialT.titulo }}
          </li>
        </ul>
      </div>

      <button [disabled]="!curso.nombre || !curso.fechaInicio || curso.idDocente === 0 || selectedTemaId === 0" (click)="saveCurso()" class="btn btn-success">Crear Curso</button>
    </div>

    <div *ngIf="submitted">
      <h4>El curso fue creado exitosamente.</h4>
      <button class="btn btn-success" (click)="newCurso()">Agregar Nuevo Curso</button>
    </div>
  </div>
</div>
