<div class="container mt-5">
  <div class="row justify-content-center">
   
    <div class="col-md-4">
      <div class="temas-list">  
        <h4 class="text-center font-weight-bold mb-3">Listado de Temas</h4>
        <p class="text-center">Seleccione el tema que desea ver sus detalles.</p>
        <ul class="list-group rounded">
          <li
            class="list-group-item"
            *ngFor="let tema of temas; let i = index"
            [class.active]="i === currentIndex"
            (click)="showDetails(tema, i)"
          >
     <img src="/assets/temalist.png" alt="Icono" class="icono"> [{{ tema.id }}] - {{ tema.nombre }}
          </li>
        </ul>
      </div>
    </div>

    <div class="temas-details rounded" *ngIf="showTemasDetails">
      <h2 class="titulo">Detalles del Tema</h2>
      <p class="detalle"><strong>Nombre: </strong> <span>{{ currentElement.nombre }}</span></p>
      <p class="detalle"><strong>ID: </strong> <span>{{ currentElement.id }}</span></p>
      <p class="detalle"><strong>Duración: </strong> <span>{{ currentElement.duracion }}</span></p>
    </div>
</div>
